<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
         <link rel="icon" href="image/weather.png ">
<link rel="stylesheet" href="css/style.css">
  
    </head>
    <body>
       <div class="main-content">
           {{>header}}
        <img src="/image/ruhi.jpg">
    </div>
        {{!-- <h2>{{title}}</h2> --}}
       
         {{!-- <h2>Created by {{name}}</h2> --}}
      {{>footer}}
    </body>
</html> 