<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
         <link rel="icon" href="image/weather.png ">
<link rel="stylesheet" href="css/style.css">
    </head>
    <body>
      
        <div class="main-content">
            {{>header}}
            <H1>welcome to Help </H1>
        </div>
      
        
        {{!-- <h1>will be provided help by {{name}}</h1> --}}
          {{>footer}}
    </body>
</html>